1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [35]:
def myreduce(anyfunc, sequence):
  result = sequence[0]
  for item in sequence[1:]:
   result = anyfunc(result, item)
  return result

In [36]:
def sum(x,y): return x + y

In [37]:
print ( str(myreduce(sum, [1,2,3])) )

6

1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [38]:
def myfilter(anyfunc, sequence):
 result = []
 for item in sequence:
  if anyfunc(item):
   result.append(item)
 return result

In [39]:
def ispositive(x):
 if (x <= 0): 
  return False 
 else: 
  return True

In [40]:
print (str(myfilter(ispositive, [0,1,-2,3,4,5])))

[1, 3, 4, 5]

2.Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists
 ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz'] ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xx', 'yy', 'zz', 'xxxx', 'yyyy', 'zzzz'] [[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]] [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [41]:
#List1=['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
words1='xyz'
list1=[]
x=int(input("Enter the number"))
for n in range(1,x):
  for word in words1:
    i=word*n
    list1.append(i)
print(list1)

Enter the number5
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [46]:
#list2= ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
words2='xyz'
list2=[]
x=int(input("Enter the number"))
for word in words2:
  for n in range(1,x):
    i=word*n
    list2.append(i)  
print(list2)

Enter the number5
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [43]:
#List3=[[2], [3], [4], [3], [4], [5], [4], [5], [6]] 
list3=[2,3,4]
list33=[]
for x in list3:
  for n in range(0,3):
    i=[x+n]
    list33.append(i)
print(list33)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [44]:
#List4=[[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]
list4=[2,3,4,5]
list4=[[x+n for n in range(0,4)] for x in list4 ]
print(list4)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [45]:
#list5=[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]
list5=[1,2,3]
list5=[(b,a) for a in list5 for b in list5]
print(list5)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]